<div class="title text-center">
    <h3>{{titulo}}</h3>
</div>
<div class="container">
    <mat-card>
        <mat-card-subtitle>Datos Tipo Inspeccion</mat-card-subtitle>
       <form [formGroup]="forms" (ngSubmit)="agregarEditarTipo()">
        <mat-grid-list cols="2" rowHeight="80px">            
            <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>Nombre</mat-label>
                <input formControlName="nombre" matInput autocomplete="off">               
                </mat-form-field>
            </mat-grid-tile >
            <mat-grid-tile [colspan]="2">
                <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>Responsable</mat-label>
                <input formControlName="responsable" matInput autocomplete="off">               
               </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2"> 
              <button [disabled]="forms.invalid" type="submit" class="btn btn-primary">Aceptar</button>
            <button  mat-button color="primary" routerLink="/Tipos">Regresar</button>
            </mat-grid-tile> 
            </mat-grid-list>   
        </form>
    </mat-card>
</div>