<div class="title text-center">
    <h2 class="text-info">{{titulo}}</h2>
</div>
<div class="container">
    <mat-card>
        <mat-card-subtitle>Datos Clientes</mat-card-subtitle>
       <form [formGroup]="forms" (ngSubmit)="agregarEditarCliente()">
        <mat-grid-list cols="2" rowHeight="80px"> 
            <mat-grid-tile>
              <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Identificación</mat-label>
                  <input type="text"
                         placeholder="Pick one"
                         aria-label="Number"
                         matInput                      
                         [matAutocomplete]="auto"
                         formControlName="cliIdentificacion">
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option *ngFor="let option of clientsList$ | async" [value]="option.cliIdentificacion">
                      {{option.cliIdentificacion}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </mat-grid-tile>            
            <mat-grid-tile>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Cliente</mat-label>
                <input type="text"
                       placeholder="Pick one"
                       aria-label="Number"
                       matInput                      
                       [matAutocomplete]="auto"
                       formControlName="cliNombreCompleto">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of clientsList$ | async" [value]="option.cliNombreCompleto">
                    {{option.cliNombreCompleto}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>Dirección</mat-label>
                <input formControlName="cliDireccion" matInput autocomplete="off">               
               </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>Teléfono</mat-label>
                <input formControlName="cliTelefono" matInput autocomplete="off">               
               </mat-form-field>
            </mat-grid-tile>
           <!--Combobox-->
           <mat-grid-tile>
            <mat-form-field appearance="fill">
                <mat-label>Contacto</mat-label>
                <mat-select formControlName="cliContactoId">
                  <mat-option *ngFor="let item of contactList$|async" [value]="item.conId" >
                    {{item.conNombreCompleto}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </mat-grid-tile>           
            <mat-grid-tile>
                <mat-form-field appearance="outline" class="mat-form-field">
                <mat-label>Fecha creación</mat-label>
                <input formControlName="cliFechaCreacion" matInput autocomplete="off" placeholder="aaaa/mm/dd">               
               </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile [colspan]="2"> 
              <button [disabled]="forms.invalid" type="submit" class="btn btn-primary">Aceptar</button>
            <button  mat-button color="primary" routerLink="/Clientes">Regresar</button>
            </mat-grid-tile> 
            </mat-grid-list>   
        </form>
    </mat-card>
</div>
<div>
    <app-received-contact></app-received-contact>
</div>

