  <div class="container">
    <h1 class="text-info text-center">Contacto Recibido</h1>
    
  <mat-card>
    <div *ngIf="contacto$ | async as contact" class="container text-center">
        <mat-card-title class="bg-success">Id: {{contact.conId}}</mat-card-title>
        <mat-card-content class="bg-success">
            <h3>Identificación: {{contact.conIdentificacion}}</h3>
            <h3>Contacto: {{contact.conNombreCompleto}}</h3>
        </mat-card-content>  
        <mat-card-actions>
            <button routerLink="/Clientes"  class="float-end btn btn-success">Back</button>
        </mat-card-actions>             
    </div>
  </mat-card>
</div>
  





